@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-safi-bg: #FDFBF7;
  --color-safi-green: #0C1511;
  --color-safi-green-hover: #16241D;
  --color-safi-text: #2D3436;
  --color-safi-gold: #D4AF37;

  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-safi-bg);
  color: var(--color-safi-green);
  font-family: var(--font-sans);
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
